.hero-section {
        
    height: 1024px;
    background-image: url('aroma-images/aromaBG.jpg');  
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    padding-left: 200px;
    padding-right: 200px;
    color: #634832;
    

}

.hero-heading {
    font-size: 60px;
    width: 585px; 
}

section .sub-head {
    font-size: 25px;
    margin-top: 35px;
    width: 585px; 
}

.hero-section span {
    font-weight: bold;
}

.hero-button {
    margin-top: 35px;
    width: 123px;
}


@media (max-width: 1050px ) {

    .hero-section {
        padding-left: 100px;
        padding-right: 100px;
        background-size: fit;
        height:700px;

    }

    .hero-heading {
        font-size: 45px;
        width: 585px;
    }

    
}