.about-us {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    gap: 50px;
    font-size: 16px;


}

.about-us img {
    height: 350px;
}

.about-us-article {
    height: auto;
    min-width: 415px;
    max-width: 600px;

}

.about-us-subhead {
    color: #634832;
    font-weight: bold;
}

.who-we-are {
    font-size: 45px;
}


@media (max-width: 800px) {
    .about-us {
        flex-direction: column;
        padding: 100px 100px;
    }
}